/* MAIN */
main {
  padding: 2.5%;
}

/* FOOTER */
footer {
  bottom: 0;
  width: 100%;
  height: 100px;
  border-style: solid;
  border-width: 2pt;
  border-color: rgb(0, 0, 0);
  background-image: url(/Art\ Folder/Bar.jpg);
}

footer ul {
  float: left;
  margin-left: 10px;
  list-style: none;
}

footer ul li {
  border: solid 1px;
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 1pt;
  padding: 1pt;
  font-variant: small-caps;
}

/* INFORMATION BLOCKS*/
.section_post {
  padding: 1em;
  margin: 1em auto;
  width: 70%;
}

.section_post header {
  border-style: solid;
  padding: 1em;
  font-size: 18pt;
  font-variant: small-caps;
  background-color: white;
}

.section_post header h1 {
  line-height: 100%;
}

.section_post header h2 {
  line-height: 25%;
  font-weight: lighter;
}

.section_post article {
  border-top: 0px;
  border-style: solid;
  padding: 0.5em 1em;
  font-size: 12pt;

  background-color: white;
}

.references {
  text-decoration: underline;
}

/* NAV BAR */
nav {
  background-image: url(/Art\ Folder/Bar.jpg);
  border-style: solid;
  border-width: 2pt;
  border-color: rgb(0, 0, 0);
  height: 70px;
}

nav ul {
  float: right;
  margin-right: 30px;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
  border-style: solid;
  background-color: white;
  border-radius: 5pt;
}

nav ul li a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-variant: small-caps;
  line-height: 35px;
  margin: 10pt;
}

a.active_tab {
  font-weight: bold;
  text-transform: uppercase;
}

.navBarClass {
  font-size: 30px;
  color: rgb(0, 0, 0);
  float: right;
  line-height: 50px;
  margin-right: 30px;
  margin-top: 5px;
  display: none;
  border: solid;
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
}

#navBarMobile {
  display: none;
}

@media (max-width: 1300px) {
  .navBarClass {
    display: block;
  }

  nav ul {
    position: fixed;
    top: 58px;
    padding-top: 25px;
    right: -125%;
    width: 40%;
    height: 100vh;
    background-image: url(/Art\ Folder/BarLight.jpg);
    transition: all 0.75s;
    border: solid;
  }

  nav ul li {
    display: block;
    padding: 15px;
    text-align: center;
    margin: 10px 50px 10px 10px;
  }

  nav ul li a {
    font-size: 25px;
  }

  #navBarMobile:checked ~ ul {
    right: -30px;
  }
}

/* HOME PAGE */
.home {
  height: 70vh;
  text-align: center;
  display: flex;
  align-items: center;
}

.home article {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.925);
  margin: auto;
  font-size: 25pt;
  border-radius: 10%;
  padding: 15pt;
  border-style: solid;
}

/* BACKGROUNDS */
.background {
  border-style: solid;
  border-width: 2pt;
  border-color: rgb(0, 0, 0);
  background-image: url(/Art\ Folder/Backer1.jpg);
  background-size: 480px 270px;
  min-height: 70vh;
}

.background_home {
  border-style: solid;
  border-width: 2pt;
  border-color: rgb(0, 0, 0);
  background-image: url(/Art\ Folder/Home.jpg);
  background-size: 480px 270px;
  min-height: 70vh;
}

/* IMAGES */
.image_line img {
  float: auto;
  width: 30%;
  height: 30%;
  margin: 5px;
  border: solid 2px;
}
