<nav class="nav-body">
  <ul>
    <li>
      <button onclick="location.href = './home.html';">
        <p id="#home">Home</p>
      </button>
    </li>
    <li>
      <button onclick="location.href = './profile.html';">
        <p id="#profile">Profile</p>
      </button>
    </li>
    <li>
      <button onclick="location.href = './portfolio.html';">
        <p id="#portfolio">Portfolio</p>
      </button>
    </li>
    <li>
      <button onclick="location.href = './blogs.html';">
        <p id="#blogs">Blogs</p>
      </button>
    </li>
    <li>
      <button onclick="location.href = './design.html';">
        <p id="#design">Design</p>
      </button>
    </li>
  </ul>
</nav>
